html {
    height: 0;
    width: 200px;
}

body {
    padding: 20px;
    text-align: center;
}

p {
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
    }

    p {
        color: white;
    }
}

.stars {
    color: #FFA500;
    margin-top: 10px;
    /* margin-bottom: 5px; */
    font-size: large;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}